body{font-family: 'Open Sans', sans-serif;}
.btn-primary{border-radius:5px;background-color: #FD6E0A;
border: 0;
color: white;
padding: 10px 20px;
font-size: 20px;
font-weigh: 700;
justify-content: space-between}

.orange{color:#FD6E0A ;}
nav{display:flex;
align-items: center;
justify-content: space-between;
margin: 0 200px;}
.webhead{color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;}
    nav>ol{display: flex;
   }
   nav li{align-items: center; list-style: none;
 margin-right: 51px;}
 nav a{text-decoration: none;
color:#474747}
.header{background-color:#FFF8F3;
background-image:url("/images/header_bg.png") ;
background-repeat:no-repeat;
background-position: right bottom;}
.banner{margin: 20px 20px 20px 100px;
display:flex;
}
.btn-primary{gap: 10px
}
.banner{;
display: flex;}

.banner .pp{width: 500px;}

.banner button{ box-sizing: content-box;
padding-left: 20px;}
.banner1st{font-size: 45px;
color:var(--Dark-02, #474747);
margin-bottom: 0px;}
.banner2nd{font-size: 85px;
  font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;}
.About{padding: 130px;
  border-radius: 10px;
  background: #FFF8F3;
margin-top: 130px;
margin-bottom: 130px;}

main{max-width: 1140px;
margin: 0 auto;}
.tittle-section{color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;}
  main section{margin-top: 120px;}

  .description-section{color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px}
  .about-container{display: flex;
  justify-content: space-around;}
  .info-tittle{text-align: center;}
  #ajaira{padding: 30px 150px;}
  .skil-container{display: flex;
    gap: 25px;}
  .skill{padding: 30px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);}
  .resume-column-tittle{color: #474747;
    font-size: 30px;
    font-weight: 700;}
    .resume-tittle{color:#474747;
      font-size: 25px;
      font-weight: 700;}
      .resume-info{color:#757575;
        font-size: 20px;
        font-weight: 60px;}
        .resume-kaj{color: #757575;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;}
.dwonload-cv{text-align: center;
margin-top: 25px;}
          .resume-container{display: flex;
          text-align:left;
        gap: 50px;}
        .resume-container hr{margin: 20px;}
        .footer-column{width: 50%; justify-content: center;}
        footer{display: flex;
        background-color:#FFF8F3;
      padding: 130px 150px;
    margin-top: 100px;
  gap: 100px;}

  .contact input,textarea{display: block;
  margin-bottom: 20px;
padding: 18px 30px;}   
  .name{width: 461px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background:#FFF;} 
    .email{width: 461px;
      height: 64px;
      flex-shrink: 0;
    background-color: #FFF} 
    .area{width: 461px;
      height: 180px;
    background-color: border-radius: 5px;
    background:#FFF;} 
  

     