body{font-family: 'Open Sans', sans-serif;}
.btn-primary{border-radius:5px;background-color: #FD6E0A;
border: 0;
color: white;
padding: 10px 20px;
font-size: 20px;
font-weigh: 700;
justify-content: space-between}

.orange{color:#FD6E0A ;}
nav{display:flex;
align-items: center;
justify-content: space-between;
margin: 0 200px;}
.webhead{color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;}
    nav>ol{display: flex;
   }
   nav li{align-items: center; list-style: none;
 margin-right: 51px;}
 nav a{text-decoration: none;
color:#474747}
.header{background-color:#FFF8F3;;}
.banner{margin: 20px 20px 20px 100px;
display:flex;}
.banner .pp{width: 500px;}

.banner button{ box-sizing: content-box;
padding-left: 20px;}
